# Variáveis de Ambiente do Frontend

# Vite
VITE_APP_NAME=Helpdesk Prefeitura

# Supabase
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# Backend API
VITE_API_URL=http://localhost:3333/api/v1

# Ambiente
VITE_NODE_ENV=development
